.wrapper {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	text-align: center;
	justify-items: center;
	align-items: center;
}

.spinner {
	width: 4rem;
	height: 4rem;
}
